.file-list-page {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 防止页面整体滚动 */
}
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: fixed; /* 固定在顶部 */
  top: 0;
  width: 100%;
  z-index: 10; /* 确保在其他内容之上 */
}
.logo-and-title {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 3px;
}
.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 50px;
}

.title2 {
  font-weight: bold;
  color: #707070;
  font-size: 26px;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  margin-top: 10px;
  margin-bottom: 5px;
}

.top-search-bar {
  flex: 1;
  margin-left: 50px;
  width: 20px;
  margin-top: 5px;
}

.top-search-bar input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-avator {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.vip-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}


.divider {
  border: none;
  border-top: 2px solid #e1e0e0;
  margin: 0;
  width: 100%;
  position: fixed; /* 固定在顶部 */
  top: 64px;
  z-index: 9;
}


.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}

.content-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 72px); /* 减去顶部固定区域的高度 */
  width: 100%;
  margin-top: 72px; /* 避开顶部固定区域 */
  overflow: auto; /* 启用滚动 */
}
.all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  border-right: 1px solid #e1e0e0; /* 右边框为灰色 */
  background-color: white;
  height: 100%;
  position: fixed; /* 固定在左侧 */
  top: 72px; /* 避开顶部固定区域 */
  z-index: 8; /* 确保在其他内容之上 */
}
.new-column {
  display: inline-block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
  margin-right: 20px;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(105, 145, 199, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* 调整与“加载中...”之间的距离 */
}

.item {
  height: 50px;
  width: 5px;
  background: #6991c7;
  margin: 0px 3px;
  border-radius: 10px;
  animation: loading 1s infinite;
}

.loadingSentence {
  font-size: 18px;
  text-align: center;
  color: #6991c7;
}

@keyframes loading {
  0% {
    height: 0px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 0px;
  }
}

.item:nth-child(2) {
  animation-delay: 0.1s;
}

.item:nth-child(3) {
  animation-delay: 0.2s;
}

.item:nth-child(4) {
  animation-delay: 0.3s;
}

.item:nth-child(5) {
  animation-delay: 0.4s;
}

.item:nth-child(6) {
  animation-delay: 0.5s;
}

.item:nth-child(7) {
  animation-delay: 0.6s;
}

.item:nth-child(8) {
  animation-delay: 0.7s;
}
.test123 {
  background-color: #6991c7;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.test123:hover {
  background-color: #6991c7;
}
.custom-popover {
  position: absolute;
  top: 100%; /* Positioning the popover right below the vip-info */
  left: 0;
  width: 200px;
  padding: 10px;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
.vip-container {
  display: inline-block;
  position: relative;
}